<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974325657264-tmiblupk7dg5oa1v5egi82drs7har6sf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974325657264-tmiblupk7dg5oa1v5egi82drs7har6sf</string>
	<key>API_KEY</key>
	<string>AIzaSyBLMt_t84kxbR0upb8yRFGD19A32gXsoK8</string>
	<key>GCM_SENDER_ID</key>
	<string>974325657264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cursoDH.loginFirebaseAula21-09</string>
	<key>PROJECT_ID</key>
	<string>telalogin-10eaa</string>
	<key>STORAGE_BUCKET</key>
	<string>telalogin-10eaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974325657264:ios:6e8f21de96f8d27ce19575</string>
</dict>
</plist>